<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>事件监听</title>
</head>
<body>
	<div id="app">
		<button v-on:click="count+=1">点击</button>
        <p>点击次数{{count}}</p>
	</div>
	<div id="add">
		<input type="text" v-model="message" placeholder="ok" />
		<p>{{message}}</p>
	</div>
	<div id="aoo">
		<textarea v-model="connection"></textarea>
        <p>{{connection}}</p>
	</div>
	<div id="chex">
		<p>选择您需要网站</p>
        <input type="checkbox" id="baidu" value="http://www.baidu.com" v-model="bd"/>
        <label for="baidu">Baidu</label>
        <input type="checkbox" id="google" value="http://www.google.com" v-model="bd" />
        <label for="google">Google</label>
        <input type="checkbox" id="cainiao" value="https://www.runoob.com" v-model="bd"/>
        <label for="cainiao">Cainiao</label>
        <ul v-for="con in bd">
        <a v-bind:href="con">{{con}}</a>	
        </ul>
	</div>
	<div id="dan">
		<input type="radio" id="first" value="我是第一个选择" v-model="danxuan" />
		<label for="first">客户</label>
        <input type="radio" id="second" value="我是第二个选择" v-model="danxuan" />
		<label for="second">经销商</label>
		<p>{{danxuan}}</p>
	</div>
	<div id="selectW">
		<select v-model="se">
			<option value="">请选择一个顾客</option>
			<option value="山东顾客">山东顾客</option>
			<option value="山西顾客">山西顾客</option>
            <option value="湖南顾客">湖南顾客</option>
		</select>
        <p>选择的顾客为：{{se}}</p>

	</div>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" >
	 var app=new Vue({
            el:"#app",
            data:{
            	count:0
            }
		});
     var add=new Vue({
     	el:"#add",
     	data:{
     		message:"ok"
     	}
     });
    var aoo=new Vue({
        el:"#aoo",
        data:{
               connection:"baidu.com"
        }

    });
    var chex=new Vue({
        el:"#chex",
        data:{
        	bd:[]
        }

    });
    var dan=new Vue({
        el:"#dan",
        data:{
        	danxuan:"ada"
        }

    });
    var selectW=new Vue({
        el:"#selectW",
        data:{
           se:""
        }

    })
	</script>
</body>
</html>
